/* Dark mode colors. */
:root {
    --sl-color-accent-low: #ffdb00;
    --sl-color-accent: #d87f71;
    --sl-color-accent-high: #d87f71;
    --sl-color-white: #121a1c;
    --sl-color-gray-1: #182a2f;
    --sl-color-gray-2: #2a3b41;
    --sl-color-gray-3: #495c62;
    --sl-color-gray-4: #7b8f96;
    --sl-color-gray-5: #bac4c8;
    --sl-color-gray-6: #e7eff2;
    --sl-color-gray-7: #f3f7f9;
    --sl-color-black: #ffffff;
}
/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #ffdb00;
    --sl-color-accent: #d87f71;
    --sl-color-accent-high: #d87f71;
    --sl-color-white: #121a1c;
    --sl-color-gray-1: #182a2f;
    --sl-color-gray-2: #2a3b41;
    --sl-color-gray-3: #495c62;
    --sl-color-gray-4: #7b8f96;
    --sl-color-gray-5: #bac4c8;
    --sl-color-gray-6: #e7eff2;
    --sl-color-gray-7: #f3f7f9;
    --sl-color-black: #ffffff;
}

h1 {
    font-family: 'Editorial New';
}

/* override Hero */
@media (min-width: 50rem) {
    .hero {
        grid-template-columns: 6fr 5fr;
        gap: 0;
        padding-block: clamp(2.5rem, calc(1rem + 10vmin), 10rem);
    }

    .hero > img,
    .hero > .hero-html {
        order: 2;
        width: min(100%, 125rem);
    }
}

/* override Header */
.site-title {
    color: #000000;
}