/* Dark mode colors. */
:root {
    --sl-color-accent-low: #00273d;
    --sl-color-accent: #ff725c;
    --sl-color-accent-high: #ff725c;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #e7eff2;
    --sl-color-gray-2: #bac4c8;
    --sl-color-gray-3: #7b8f96;
    --sl-color-gray-4: #495c62;
    --sl-color-gray-5: #2a3b41;
    --sl-color-gray-6: #182a2f;
    --sl-color-black: #121a1c;
    --sl-color-outline: #000000;
    --sl-icon-color: #000000;
    --sl-color-bg-nav: #ffffff;
    --sl-color-bg-sidebar: #fff8ee;
    --sl-color-content: #fff8ee;
    --sl-color-text-accent: #ff725c;
}
/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #ffdb00;
    --sl-color-accent: #ff725c;
    --sl-color-accent-high: #ff8100;
    --sl-color-white: #121a1c;
    --sl-color-gray-1: #182a2f;
    --sl-color-gray-2: #2a3b41;
    --sl-color-gray-3: #495c62;
    --sl-color-gray-4: #7b8f96;
    --sl-color-gray-5: #bac4c8;
    --sl-color-gray-6: #e7eff2;
    --sl-color-gray-7: #f3f7f9;
    --sl-color-outline: #000000;
    --sl-color-black: #ffffff;
    --sl-color-text-invert: #000000;
    --sl-color-bg-nav: #ffffff;
    --sl-color-bg-sidebar: #fff8ee;
    --sl-color-content: #fff8ee;
    --sl-color-text-accent: #ff725c;
}

h1 {
    font-family: 'New Editorial', serif;
}

.site-title {
    color: #000000
}

main {
    background: var(--sl-color-content);
}

/* override Search */
@media (min-width: 50rem) {
    button[data-open-modal] {
        border: 2px solid var(--sl-color-outline);
        border-radius: 1.5rem;
        padding-inline-start: 0.75rem;
        padding-inline-end: 1rem;
        background-color: var(--sl-color-black);
        color: var(--sl-color-gray-2);
        font-size: var(--sl-text-sm);
        font-weight: bold;
        width: 100%;
        max-width: 22rem;
    }
    button[data-open-modal]:hover {
        border-color: var(--sl-color-gray-2);
        color: var(--sl-color-white);
    }

    /* button[data-open-modal] > :last-child {
        margin-inline-start: auto;
    } */

    [aria-label="Search"] {
        display: none;
    }
    
    [aria-label="(Press / to Search)"] {
        display: none;
    }
}

/* override Hero */
@media (min-width: 50rem) {
    .hero {
        grid-template-columns: 6fr 5fr;
        gap: 0;
        padding-block: clamp(2.5rem, calc(1rem + 10vmin), 10rem);
    }

    .hero > img,
    .hero > .hero-html {
        order: 2;
        width: min(100%, 125rem);
    }
}

/* override Header */
.social-icons::after {
    border-inline-end: none;
}