@font-face {
    font-family: 'New Editorial';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./PPEditorialNew-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }